<header>
    <app-header-filtro></app-header-filtro>
</header>

<main>
    <div id="container">
        <ng-container *ngIf=" (projects$ | async) as projects; else loadingError">
            <ng-container *ngFor="let project of projects">

                <app-detalhe-projeto [project]="project"></app-detalhe-projeto>
            </ng-container>
        </ng-container>
    </div>
</main>

<footer>

</footer>

<ng-template #loadingError>
    <div *ngIf="error$ | async; else loading">
        Desculpe, estamos com problemas :( <br>
        Tente novamente mais tarde.
    </div>

    <ng-template #loading>
        <span>Carregando devs...</span>
    </ng-template>
</ng-template>