<ng-container *ngIf="ngo">
    <div id="container">
        <div class="title">
            <h2 id="dev"> {{ ngo.name | uppercase}} </h2>
            <span> {{ ngo.location.city.city_name }}, {{ ngo.location.city.state.state_name }} </span> <br>
            <span> {{ ngoTypeDescription }} </span>
        </div>

        <section>
            <div class="field-group">
                <h4> Biografia </h4>
                <p> {{ ngo.bio }} </p>
            </div>
        </section>

        <section>
            <div class="field-group">
                <h4> Como um dev pode nos ajudar </h4>
                <p> {{ ngo.how_can_we_help }} </p>
            </div>
        </section>

        <section>
            <div class="field-group">
                <h4 style="padding-bottom: 1rem;"> Nossos projetos </h4>
                <p-accordion>
                    <ng-container *ngFor="let project of projects">

                        <p-accordionTab header="{{ project.title | uppercase }}">
                            {{ project.title }} 
                        </p-accordionTab>
                        
                    </ng-container>
                </p-accordion>
            </div>
        </section>

        <section>
            <h2> ENTRAR EM CONTATO </h2>
            <div class="icons-wrapper">

                <ng-container *ngIf="ngo.whatsapp">
                    <a href="https://api.whatsapp.com/send?1=pt_br&phone=55{{ ngo.whatsapp }}" target="_blank">
                        <img class="icon" src="../../../assets/images/icons/whatsapp.svg" alt="whatsapp">
                    </a>
                </ng-container>

                <ng-container *ngIf="ngo.facebook">
                    <a href="{{ ngo.facebook }}" target="_blank">
                        <img class="icon" src="../../../assets/images/icons/facebook.svg" alt="facebook">
                    </a>
                </ng-container>

                <ng-container *ngIf="ngo.contact_email">
                    <a href="mailto:{{ ngo.contact_email }}" target="_blank">
                        <img class="icon" src="../../../assets/images/icons/email.svg" alt="email">
                    </a>
                </ng-container>

                <ng-container *ngIf="ngo.instagram">
                    <a href="{{ ngo.instagram }}" target="_blank">
                        <img class="icon" src="../../../assets/images/icons/instagram.svg" alt="instagram">
                    </a>
                </ng-container>
            </div>
        </section>
    </div>
</ng-container>