<div class="home">
    <header>
        <ul class="nav">
            <li><a routerLink="/ngo-list">ONGS</a></li>
            <li><a routerLink="/dev-list">DEVS</a></li>
            <li><a routerLink="/project-list">PROJETOS</a></li>
            <li><a routerLink="/login" id="login">ENTRAR</a></li>
        </ul>
    </header>

    <div class="main-container">
        <div class="text-container">
            <h1>
                HELPING<br>
                BITS
            </h1>
            <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                Cras id lorem et nisl faucibus lacinia. Cras sed mollis massa.
            </span>

            <div class="buttons">
                <a routerLink="/ngo-signup" class="button landing-btn">PRECISO DE UM DEV</a>
                <a routerLink="/dev-signup" class="button landing-btn"> QUERO AJUDAR </a>
            </div>
        </div>

        <div class="img-container">
            <img src="/assets/images/landing.svg" alt="">
        </div>
    </div>
</div>