@media (min-width: 900px) {
    .filter-wrapper {
        width: 90vw;
        max-width: 1000px;
        padding: 0rem 3.5rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 0.2fr;
        align-items: flex-end;
    }
}