
.title {
    text-align: center;
    padding-bottom: 2rem;
}

h4 {
    color: var(--color-text-label);
    font-weight: 450;
}

.title h2 {
    padding-bottom: 0.5rem;
    color: var(--color-primary);
    font-size: 1.5rem;
}

.title span {
    font-size: 90%;
}

.field-group:not(:last-child) {
    padding-bottom: 1rem;
}

.icons-wrapper {
    width: 100%;
    text-align: center;
}

.icon {
    margin: 0.5rem;
    height: 3.5rem;
}


section:not(:last-child) {
    border-bottom: 1px solid lightgray;
    padding: 1rem 0;
}

