#title {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1rem;
}

.fieldset-container:not(:last-child) {
    border-bottom: 1px solid lightgray;
    padding: 0.5rem 0;
}

.tags-wrapper {
    margin: 1.8rem 0 2.5rem 0;
}

.buttons-wrapper {
    margin-top: .5rem;
}

@media (min-width: 700px) {
    .buttons-wrapper {
        display: flex;
        justify-content: space-between;
    }
    
    .buttons-wrapper .button {
        width: 48.5%;
    }
}