<ng-container *ngIf="dev">
    <div id="container">
        <div class="title">
            <h2 id="dev"> {{ dev.name | uppercase}} </h2>
            <span> {{ dev.location.city.city_name }}, {{ dev.location.city.state.state_name }} </span>
        </div>

        <section>
            <div class="field-group">
                <h4> Biografia </h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dictum mattis ex, quis mattis sapien
                    aliquam sit amet. Fusce lobortis scelerisque iaculis. Integer laoreet convallis sapien id convallis.
                    Morbi finibus lectus a augue tempus lacinia. In nisl erat, venenatis aliquet tempor
                </p>
            </div>

        </section>

        <section>
            <div class="field-group">
                <h4> Quer praticar: </h4>
                <p> {{ practice_skills }} </p>
            </div>

            <div class="field-group">
                <h4> Já sabe: </h4>
                <p> {{ skills }} </p>
            </div>
        </section>


        <section>
            <h2> ENTRAR EM CONTATO </h2>
            <div class="icons-wrapper">

                <ng-container *ngIf="dev.whatsapp">
                    <a href="https://api.whatsapp.com/send?1=pt_br&phone=55{{ dev.whatsapp }}" target="_blank">
                        <img class="icon" src="../../../assets/images/icons/whatsapp.svg" alt="whatsapp">
                    </a>
                </ng-container>

                <ng-container *ngIf="dev.linkedin">
                    <a href="https://{{ dev.linkedin }}" target="_blank">
                        <img class="icon" src="../../../assets/images/icons/linkedin.svg" alt="linkedin">
                    </a>
                </ng-container>

                <ng-container *ngIf="dev.contact_email">
                    <a href="mailto:{{ dev.contact_email }}" target="_blank">
                        <img class="icon" src="../../../assets/images/icons/email.svg" alt="email">
                    </a>
                </ng-container>

                <ng-container *ngIf="dev.github">
                    <a href="https://{{ dev.github }}" target="_blank">
                        <img class="icon" src="../../../assets/images/icons/github.svg" alt="github">
                    </a>
                </ng-container>
            </div>
        </section>
    </div>
</ng-container>