<!-- <app-header-nav></app-header-nav> -->
<app-header-nav-primary></app-header-nav-primary>

<header>

    <div id="filters">

        <form id="search-devs" [formGroup]="form">

            <div class="filter">
                <div class="input-block">
                    <label for="state">ESTADO</label>
                    <p-dropdown 
                        [options]="states" 
                        formControlName="selectedState" 
                        styleClass="input-ng filters filters-left" 
                        [filter]="true"
                        [style]="{'width': '100%'}"
                        placeholder="Selecionar..."
                        (onChange)="initializeCities()">
                    </p-dropdown>
                </div>
            </div>

            <div class="filter">
                <div class="input-block">
                    <label for="state">CIDADE</label>
                    <p-dropdown 
                        [options]="cities" 
                        formControlName="selectedCity" 
                        styleClass="input-ng filters" 
                        [filter]="true"
                        [style]="{'width': '100%'}"
                        placeholder="Selecionar...">
                    </p-dropdown>
                </div>
            </div>

            <div class="filter">
                <div class="input-block">
                    <label for="state">QUER PRATICAR</label>
                    <p-multiSelect [options]="skills" styleClass="input-ng filters" optionLabel="label"
                        placeholder="Selecionar..." [maxSelectedLabels]="1"
                        selectedItemsLabel="{} selecionadas" 
                        [style]="{'width': '100%'}"
                        formControlName="selectedPractice"></p-multiSelect>
                </div>
            </div>

            <div class="filter">
                <div class="input-block">
                    <label for="state">JÁ SABE</label>
                    <p-multiSelect [options]="skills" styleClass="input-ng filters filters-right" optionLabel="label"
                        placeholder="Selecionar..." [maxSelectedLabels]="1"
                        selectedItemsLabel="{} selecionadas" 
                        [style]="{'width': '100%'}"
                        formControlName="selectedSkills"></p-multiSelect>
                </div>
            </div>
            <button class="button" id="button-filter" (click)="filterDevs()"><i class="pi pi-search" style="font-size: 1.5rem"></i></button>
        </form>
    </div>
</header>

<main>
    <div id="container">
        <ng-container *ngFor="let dev of devs">
            <app-dev-detail [dev]="dev" [style]="{'width': '100%'}"></app-dev-detail>
        </ng-container>
    </div>
</main>

<footer>

</footer>