#filters {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;    
    background-color: var(--color-primary); 
}

#search-devs {
    width: 90%;
}

.input-block {
    width: 100%;
}

.input-block label {
    color: #f2f2f2;
}

@media (min-width: 900px) {
    #filters {
        padding-top: 1rem;
    }

    #search-devs {
        width: 90vw;
        max-width: 1000px;
        padding: 0rem 3.5rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 0.2fr;
        align-items: flex-end;
    }
}