.fieldset-container:not(:last-child) {
    border-bottom: 1px solid lightgray;
    padding: 0.5rem 0;
}

#personal .input-wrapper {    
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

#personal .input-wrapper img {
    margin-top: 1rem;
    width: 50%;
    justify-self: center;
    cursor: pointer;
}

#personal .input-wrapper .fields {
    width: 100%;
}

.tags-wrapper {
    margin: 1.8rem 0 2.5rem 0;
}

.buttons-wrapper {
    margin-top: 3rem;
}

@media (min-width: 700px) {
    .buttons-wrapper {
        display: flex;
        justify-content: space-between;
    }
    
    .buttons-wrapper .button {
        width: 48.5%;
    }
    

    #education .input-wrapper {
        display: flex;
        column-gap: 20px;
        justify-content: space-between;
    }

    #personal .input-wrapper {
        display: grid;
        grid-template-columns: 4fr 1fr;
        align-items: center;
        column-gap: 1rem;
    }

    #personal .input-wrapper img {
        width: 100%;
        margin-top: 1.5rem;
        justify-self: right;
    }



}