<div id="container">
    <h2>SEUS DADOS</h2>

    <form autocomplete="off" [formGroup]="form">

        <!-- INICIO DA AREA DE DADOS PESSOAIS  -->
        <fieldset id="personal" class="fieldset-container">

            <div class="input-block">
                <label for="fullname">NOME COMPLETO</label>
                <input id="fullname" formControlName="name" />
            </div>

            <div class="input-block">
                <label for="biography">BIOGRAFIA</label>
                <textarea id="biography" formControlName="bio" placeholder="Nos conte um pouco sobre você...">
            </textarea>
            </div>

            <div class="input-wrapper">
                <div class="input-block">
                    <label for="state">Estado</label>
                    <!-- <p-dropdown [options]="states" formControlName="state" [filter]="true" [style]="{'width':'100%'}"
                    (onChange)="initializeCities()">
                </p-dropdown> -->
                    <select formControlName="state" id="state"
                        (change)="initializeCities()">
                        <option *ngFor="let state of states" [value]="state.value">
                            {{ state.label }}
                        </option>
                    </select>
                </div>

                <div class="input-block">
                    <label for="city">Cidade</label>
                    <select formControlName="city" id="city">
                        <option *ngFor="let city of cities" [value]="city.value">
                            {{ city.label }}
                        </option>
                    </select>
                </div>
            </div>

        </fieldset>
        <!-- FIM DA AREA DE DADOS PESSOAIS  -->

        <!-- INICIO DA AREA DE COMPETENCIAS  -->
        <fieldset id="education" class="fieldset-container">
            <h2> COMPETÊNCIAS </h2>

            <div class="input-block">
                <label for="practice">QUERO PRATICAR...</label>
                <input name="practice" id="practice" placeholder="PESQUISAR COMPETÊNCIAS">
            </div>



            <div class="input-block">
                <label for="skilled-at">SOU BOM EM...</label>
                <input name="skilled-at" id="skilled-at" placeholder="PESQUISAR COMPETÊNCIAS">
            </div>


            <!-- FIM DA AREA DE COMPETENCIAS  -->
        </fieldset>

        <!-- INICIO DA AREA DE HISTÓRICO ACADEMICO  -->
        <!-- <fieldset id="education" class="fieldset-container">
            <h2> HISTÓRICO ACADÊMICO </h2>

            <div class="input-block">
                <label for="title">TÍTULO</label>
                <input name="title" id="title" placeholder="CURSO, GRADUAÇÃO, TÉCNICO...">
            </div>

            <div class="input-wrapper">
                <div class="input-block">
                    <label for="institution">INSTITUIÇÃO</label>
                    <input name="institution" id="institution" placeholder="ESCOLA, UNIVERSIDADE...">
                </div>

                <div class="input-block">
                    <label for="">DATA</label>
                    <input name="project-deadline" id="project-deadline" placeholder="MES/ANO">
                </div>
            </div>
        </fieldset> -->
        <!-- FIM DA AREA DE HISTÓRICO ACADEMICO  -->
    </form>

    <div class="buttons-wrapper">
        <button class="button button-primary" (click)="onSubmit()">SALVAR</button>
        <button class="button button-secondary" (click)="onCancel()">CANCELAR</button>
    </div>

</div>