<ng-container *ngIf="dev" >
    <div class="wrapper">
        
        <section class="info">
            <h3>{{ dev.name | uppercase }}</h3>
            <p><small>{{ dev.location.city.city_name }}, {{ dev.location.city.state.state_name }}</small> </p>
        </section>

        <section class="skills">
            <p> <b> Quer praticar: </b> {{ practice_skills }} || <b> Já sabe: </b> {{ skills }}</p>
        </section>

    
        <section class="go-to-profile">
            <a routerLink="/dev-profile/{{dev.id}}"> VER PERFIL </a>
        </section>
    </div>
</ng-container>