<header>
    <ng-container *ngIf="showDevNavBar">
        <app-header-primary-logged-dev></app-header-primary-logged-dev>
    </ng-container>

    <ng-container *ngIf="showNgoNavBar">
        <app-header-primary-logged></app-header-primary-logged>
    </ng-container>

    <ng-container *ngIf="showVisitorBar">
        <app-header-nav-primary></app-header-nav-primary>
    </ng-container>
</header>

<div id="container">
    <h2>CADASTRO DO PROJETO</h2>

    <form autocomplete="off"  [formGroup]="form">
        <div class="input-wrapper">
        <div class="input-block">
            <label for="project-title">Título do projeto</label>
            <input formControlName="title" id="project-title" required>
        </div>

            <div class="input-block">
                <label for="">Precisamos de...</label>
                <p-multiSelect 
                    formControlName="selectedSkills" 
                    [options]="skills" 
                    styleClass="input-ng"
                    optionLabel="description" 
                    placeholder="Selecionar competências..."
                    selectedItemsLabel="{} competências selecionadas">
                </p-multiSelect>
            </div>
        </div>

        <div class="input-block">
            <label for="project-description">Descrição do projeto</label>
            <textarea formControlName="description" id="project-description" placeholder="Nos conte o que você precisa. Não esqueça dos detalhes, eles aumentam as chances do seu projeto ser escolhido por um dev :)" required></textarea>
        </div>
    </form>

    <div class="buttons-wrapper">
        <button class="button button-secondary" (click)="onCancel()">CANCELAR</button>
        <button class="button button-primary" (click)="onSubmit()">{{ op ? "CADASTRAR" : "ATUALIZAR"}}</button>
    </div>
</div>