<header>
    <app-header-filtro></app-header-filtro>
</header>

<main>
    <div id="container">
        <ng-container *ngIf=" (ngo$ | async) as ngos; else loadingError">
            <ng-container *ngFor="let ngo of ngos">
                <app-ngo-detail [ngo]="ngo"></app-ngo-detail >
            </ng-container>
        </ng-container>
    </div>
</main>

<footer>

</footer>
<ng-template #loadingError>
    <div *ngIf="error$ | async; else loading">
        Desculpe, estamos com problemas :( <br>
        Tente novamente mais tarde.
    </div>

    <ng-template #loading>
        <span>Carregando devs...</span>
    </ng-template>
</ng-template>