<div id="container">

    <h2> LOGIN </h2>

    <form action="">
        <div class="input-block">
            <label for="email-adress"> EMAIL: </label>
            <input type="email" name="email-adress" id="email-adress" required placeholder="user@email.com.br">
        </div>

        <div class="input-block">
            <label for="password"> SENHA: </label>
            <input type="password" name="password" id="password" required placeholder="************">
        </div>
    </form>

    <h3 id="option-text"> OU </h3>

    <div class="buttons-wrapper">
        <a href="" class="button button-secondary">CONTINUAR COM GOOGLE</a>
        <a href="" class="button button-secondary">CONTINUAR COM GITHUB</a>
    </div>

    <button href="" class="button button-primary">ENTRAR</button>

    <div id="sign-up">
        <span>
            Ainda não tem cadastro? <a routerLink="../cadastro"> Clique aqui! </a>
        </span>
    </div>

</div>