
<div class="projeto-wrapper">
    <div class="text-block">
        <h3>LANDING PAGE PARA ONG DE PROTEÇÃO ANIMAL</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dictum mattis ex, quis mattis sapien aliquam sit amet. Fusce lobortis scelerisque iaculis. Integer laoreet convallis sapien id convallis...
        </p>
    </div>

    <div class="info-block">

        <div class="project-info">
            <span> <strong>Prazo: </strong> dezembro/2020<br> </span>
            <span> <strong>Categoria: </strong> desenvolvimento web </span>

            <div class="tags">
                <a class="tag tag-selected">REACT</a>
                <a class="tag tag-selected">HTML</a>
                <a class="tag tag-selected">CSS</a>
            </div>
        </div>
        
        <a href="" class="material-icons">mail</a>
    </div>
</div>