<app-header-nav-primary></app-header-nav-primary>

<ng-container *ngIf="project">
    <div id="container">
        <div class="title">
            <h2 id="dev"> {{ project.title | uppercase}} </h2>
            <span> {{ project.ong.location.city.city_name }}, {{ project.ong.location.city.state.state_name }} </span> <br>
        </div>

        <section>
            <div class="field-group">
                <b> ONG: </b>
                <span> <a href="http://" target="_blank" rel="noopener noreferrer"> {{ project.ong.name }} </a>  </span>
                <p> </p>
            </div>

            <div class="field-group">
                <b> Precisamos de: </b>
                <span> {{ skills }} </span>
            </div>
        </section>

        <section>
            <div class="field-group">
                <h4> Descrição </h4>
                <p> {{ project.description }} </p>
            </div>
        </section>

        <section>
            <h2> ENTRAR EM CONTATO COM A ONG </h2>
            <div class="icons-wrapper">

                <ng-container *ngIf="project.ong.whatsapp">
                    <a href="https://api.whatsapp.com/send?1=pt_br&phone=55{{ project.ong.whatsapp }}" target="_blank">
                        <img class="icon" src="../../../assets/images/icons/whatsapp.svg" alt="whatsapp">
                    </a>
                </ng-container>

                <ng-container *ngIf="project.ong.facebook">
                    <a href="{{ project.ong.facebook }}" target="_blank">
                        <img class="icon" src="../../../assets/images/icons/facebook.svg" alt="facebook">
                    </a>
                </ng-container>

                <ng-container *ngIf="project.ong.contact_email">
                    <a href="mailto:{{ project.ong.contact_email }}" target="_blank">
                        <img class="icon" src="../../../assets/images/icons/email.svg" alt="email">
                    </a>
                </ng-container>

                <ng-container *ngIf="project.ong.instagram">
                    <a href="{{ project.ong.instagram }}" target="_blank">
                        <img class="icon" src="../../../assets/images/icons/instagram.svg" alt="instagram">
                    </a>
                </ng-container>
            </div>
        </section>
    </div>
</ng-container>