.tags-wrapper{
    margin: 1rem 0rem 3rem 0rem;
}

#container h2 {
    padding: 0.5rem 0rem 2rem 0rem;
}

@media (min-width: 700px) {
    .buttons-wrapper {
        display: flex;
        justify-content: space-between;
    }
    
    .buttons-wrapper .button {
        width: 48.5%;
    }
    
    .input-wrapper {
        display: flex;
        column-gap: 20px;
        justify-content: space-between;
    }

}

