<ng-container *ngIf="project">
    <div class="wrapper">

        <section class="info">
            <h3>{{ project.title | uppercase }}</h3>
            <p>
                <small>
                    {{ project.ong.location.city.city_name }}, {{ project.ong.location.city.state.state_name }}
                    || 
                    {{project.ong.name}}
                </small>
             </p>
        </section>

        <section class="skills">
            <p> <b> Skills: </b> {{ skills }}</p>
        </section>


        <section class="go-to-profile">
            <a routerLink="/project-entry/{{project.id}}"> VER PROJETO </a>
        </section>
    </div>
</ng-container>