a {
    text-decoration: none;
}

.projeto-wrapper {
    margin-bottom: 1.8rem;
    border: solid 2px #ededed;
    border-radius: 1rem;
}

.projeto-wrapper::after {
    content:'';
    width: 100%;
    display: block;
    height: 1px;    
}

.text-block {
    padding-left: 1rem;
}

.text-block h3 {        
    color: var(--color-text-label);
    padding-top: 0.7rem;
}


.info-block {
    background-color: #F9F9FA;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 0rem 0rem 1rem 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-block .project-info span {
    line-height: 2.2rem;
}

.info-block .project-info .tags {
    padding-top: 1rem;
}