.filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;    
    background-color: var(--color-primary); 
    border-radius: 0rem 0rem 0.3rem 0.3rem;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 6px 0 rgba(0, 0, 0, 0.1);
}

.filter-wrapper{
    width: 90%;
}

.filter-wrapper .input-block {
    width: 100%;
}

.filter-wrapper .input-block label {
    color: #f2f2f2;
}

@media (min-width: 900px) {
    .filter-container  {
        padding-top: 1rem;
    }

    .filter-wrapper {
        width: 90vw;
        max-width: 1000px;
        padding: 0rem 3.5rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 0.2fr;
        align-items: flex-end;
    }
}