fieldset {
    outline: none;
    border: none;
}

/* INPUTS */
.input-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1.3rem 0rem;
}

.input-ng {
    width: 100%;
    height: 2.5rem;
    margin-top: 0.2rem;

    border: 0;
    border-radius: 0.2rem;
    border-bottom: 3px solid var(--color-accent);
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0 1rem;
    color: var(--color-text);
    outline: none;
}



.input-block label {
    color: var(--color-text-label);
}

.input-block input, select, textarea {
    width: 100%;
    height: 2.5rem;
    margin-top: 0.2rem;

    border: 0;
    border-radius: 0.2rem;
    border-bottom: 3px solid var(--color-accent);
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    outline: 0;
    padding: 0 1rem;
    color: var(--color-text)
}

.input-block textarea {
    padding: 1.2rem 1.3rem;
    height: 10rem;
    resize: vertical;
}

.input-block input:focus, select:focus, textarea:focus{
    border-bottom: 3px solid var(--color-accent-focus);
}

.input-ng input:focus, select:focus, textarea:focus{
    border-bottom: 3px solid var(--color-accent-focus);
}

select::placeholder, textarea::placeholder, input::placeholder {
    color: rgb(141, 141, 141);
}

small {
    font-size: 0.75rem;
    color: rgb(141, 141, 141);
}


#button-filter {
    background: #679a9d ;
    color:#f2f2f2;
    transition: background 0.2s;
    margin-bottom:1.2rem;
}


@media (min-width: 900px) {
    .filters {
        height: 2.5rem;
        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
        border-radius: 0;
    }
    
    .filters-left {
        border-radius: 1rem 0 0rem 1rem;
    }
    
    .filters-right {
        border-radius: 0rem 1rem 1rem 0rem;
    }

    #button-filter {
        margin-left: 1rem;
        max-width: 45px;
        background: #679a9d ;
        color:#f2f2f2;
        transition: background 0.2s;
        margin-bottom:1.2rem;
        border-radius: 50rem;
    }
    
    #button-filter:hover{
        text-decoration: none;
        background: var(--color-primary-darker);
    }
}

